Source: bluit
Section: utils
Priority: optional
Maintainer: Thomas E. Dickey <dickey@invisible-island.net>
Homepage: http://invisible-island.net/luit/
Build-Depends: debhelper (>= 6),
  libfontenc-dev,
  libglib2.0-0,
  libice6,
  libncurses5-dev,
  libpcre3,
  libsm6,
  libxt-dev,
  pkg-config,
  xutils-dev
Standards-Version: 3.8.3

Package: bluit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: locale and ISO 2022 support for Unicode terminals
 Luit is a filter that can be run between an arbitrary application and a
 UTF-8 terminal emulator.  It will convert application output  from  the
 locale's  encoding  into  UTF-8,  and convert terminal input from UTF-8
 into the locale's encoding.
 .
 The Xorg version of luit is largely maintained, but embedded in useful
 packages.  This package installs an alternative binary "bluit", and
 adds it to the Debian alternatives via "xterm-filter".
